@font-face {
  font-family: "Arial";
  src: url("./../../assets/fonts/ArialMT.woff") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Georgia";
  src: url("./../../assets/fonts/Georgia.woff") format("truetype");
  font-style: normal;
  font-weight: 400;
}
* {
  border: none;
}

html {
  font-size: 10px;
}

.container {
  width: 1200px;
  margin: auto;
}

@media (max-width: 1315px) {
  .container {
    width: 92.1875%;
  }
}
@media (max-width: 1315px) {
  .container {
    width: 92.1875%;
  }
}
@media (max-width: 768px) {
  .container {
    width: 93.75%;
  }
}
li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

.title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.header {
  height: 120px;
  width: 100%;
  position: fixed;
  z-index: 9;
  background: #FFFFFF;
}

.header__container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 186px;
  height: 60px;
  margin-bottom: -6px;
}
.logo .logo__title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 11px;
  letter-spacing: 0.06em;
  color: #545454;
}
.logo .logo__description {
  display: block;
  margin-left: 3px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #292929;
}

.navigation__list {
  display: flex;
  align-content: center;
  margin-right: 3px;
}

.navigation__item {
  display: block;
  margin-right: 35px;
}
.navigation__item:last-child {
  margin-right: 0;
}

.nav__link {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #545454;
  padding-bottom: 4px;
}
.nav__link:hover {
  color: #292929;
}

.navigation__item_active {
  color: #292929;
  border-bottom: 3px solid #F1CDB3;
}

.hamburger-menu {
  display: none;
}

@media (max-width: 768px) {
  .navigation__list {
    display: none;
  }
  .navigation__list_burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 152px;
  }

  .hamburger-menu {
    display: block;
  }

  #menu__toggle {
    opacity: 0;
  }

  .menu__btn {
    position: absolute;
    width: 30px;
    height: 22px;
    right: 53px;
    top: 45px;
    cursor: pointer;
    z-index: 3;
  }

  .menu__icon {
    transform: rotate(-90deg);
  }

  .menu__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    top: 0;
    right: 0;
    width: 320px;
    height: 823px;
    margin: 0;
    padding: 23px 0;
    z-index: 0;
    background: #FFFFFF;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  }

  .menu__header {
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: center;
  }

  .menu__item {
    display: block;
    padding: 12px 24px;
  }

  .menu__icon {
    position: relative;
  }

  .navigation__item_burger {
    margin: 0 0 40px;
  }

  .navigation__item_burger a {
    font-size: 32px;
    line-height: 160%;
  }

  .navigation__item_active a {
    color: #292929;
  }

  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    opacity: 1;
  }
  #menu__toggle:checked ~ .menu__btn > span > .menu__icon {
    transform: rotate(0deg);
  }
  #menu__toggle:checked ~ .menu__btn.menu__btn {
    position: fixed;
  }

  .menu__icon {
    transition-duration: 0.25s;
  }

  .menu__box {
    transition-duration: 0.25s;
  }

  .menu__item {
    transition-duration: 0.25s;
  }
}
.friends {
  background: #F6F6F6;
}

.friends__container {
  padding-top: 200px;
  padding-bottom: 100px;
}

.friends__title {
  display: block;
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.friends__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 45px -20px;
}

.btn__left, .btn__right {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  background: transparent;
  padding-top: 12px;
  display: inline-block;
}

.btn__left {
  margin-right: 8px;
}

.btn__right {
  margin-left: 8px;
}

.friends__card {
  display: flex;
  background: #FAFAFA;
  margin: 15px 20px;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 9px 9px 0px 0px;
  flex-direction: column;
}
.friends__card:hover {
  cursor: pointer;
  background: rgba(13, 13, 13, 0.0392156863);
}
.friends__card:hover > .card__btn {
  background: #F1CDB3;
  border-color: #F1CDB3;
}
.friends__card:hover > .card__btn:hover {
  background: #FDDCC4;
  border-color: #FDDCC4;
}

.card__img {
  margin-bottom: 30px;
}

.card__title {
  margin: 0 auto 30px auto;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.card__btn {
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  background: transparent;
  margin: 0 41.5px 30px 41.5px;
  align-self: center;
}

.friends__btn {
  display: block;
  padding: 15px 35px;
  width: 261px;
  height: 52px;
  background: #F1CDB3;
  border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination__arrow {
  border: 2px solid #CDCDCD;
  box-sizing: border-box;
  border-radius: 100px;
  cursor: auto;
}
.pagination__arrow.active {
  border-color: #F1CDB3;
  cursor: pointer;
}
.pagination__arrow.active svg path {
  fill: #292929;
}
.pagination__arrow.active:hover {
  background: #F1CDB3;
  transition: all 0.1s;
}

.pagination__arrow, .pagination__number {
  display: flex;
  width: 52px;
  height: 52px;
  margin: 0 10px;
  align-items: center;
  justify-content: center;
}

.pagination__number {
  background: #F1CDB3;
  border-radius: 100px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #292929;
  cursor: pointer;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(41, 41, 41, 0.6);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.5s ease;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__content {
  transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
  opacity: 1;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.popup__content {
  width: 900px;
  min-height: 500px;
  background: #FAFAFA;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  position: relative;
  transition: all 0.5s ease;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popup__close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 890px;
  top: -52px;
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
}

.popup__icon {
  width: 12px;
  height: 12px;
}

@media (max-width: 1315px) {
  .friends__card:nth-child(n+7) {
    display: none;
  }
}
@media (max-width: 982px) {
  .friends__container {
    padding-bottom: 76px;
  }

  .friends__list {
    margin: 15px -20px 25px;
  }
}
@media (max-width: 618px) {
  .friends__container {
    padding-top: 162px;
    padding-bottom: 42px;
  }

  .friends__title {
    font-size: 25px;
  }

  .friends__list {
    margin: 26px 0 26px;
  }

  .friends__card:nth-child(n+4) {
    display: none;
  }

  .pagination {
    margin: 0 -10px;
  }

  .pagination__arrow, .pagination__number {
    margin: 0 5px;
  }
}
.footer {
  background: radial-gradient(110.67% 538.64% at 5.73% 50%, rgba(81, 61, 47, 0.3) 0%, rgba(26, 26, 28, 0.3) 100%), url(./../../assets/images/footer-gradient-background.webp) no-repeat;
  background-size: cover;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__left-col,
.footer__center-col {
  margin-top: -4px;
  display: flex;
  flex-direction: column;
  align-self: center;
  height: 232px;
  justify-content: space-between;
  margin-right: 90px;
}

.footer__left-col {
  width: 298px;
}

.footer__center-col {
  width: 302px;
  margin-left: -19px;
}

.footer__title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.footer__item {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
}

.footer__icon {
  margin-right: 20px;
}

.footer-item__text {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  vertical-align: middle;
  padding-top: 5px;
}

div.footer-item__text {
  padding-top: 22px;
}

.footer__right-col {
  margin-top: 40px;
}

@media (max-width: 1169px) {
  .footer__container {
    justify-content: center;
  }

  .footer__left-col {
    margin-top: 31px;
    margin-left: 0;
    margin-right: 40px;
  }

  .footer__center-col {
    margin-top: 31px;
    margin-right: 0;
    margin-left: 0;
  }

  .footer__right-col {
    margin-top: 65px;
  }
}
@media (max-width: 515px) {
  .footer__container {
    padding-top: 30px;
    flex-direction: column;
  }

  .footer__title {
    width: 278px;
    margin: 0 auto 40px;
    text-align: center;
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.06em;
  }

  .footer__left-col,
.footer__center-col,
.footer__right-col {
    margin: 0;
    width: 100%;
    height: auto;
  }

  .footer__left-col {
    align-items: center;
  }

  .footer__item {
    margin-bottom: 40px;
  }

  .footer__img {
    display: block;
    width: 260px;
    height: 269px;
    margin: auto;
  }
}/*# sourceMappingURL=style.css.map */