@font-face {
  font-family: "Arial";
  src: url("/steglaset-JSFE2022Q1/shelter/assets/fonts/ArialMT.woff") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Georgia";
  src: url("/steglaset-JSFE2022Q1/shelter/assets/fonts/Georgia.woff") format("truetype");
  font-style: normal;
  font-weight: 400;
}
* {
  border: none;
}

.container {
  margin: 0 calc(50% - 640px + 40px);
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

.title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.header__container {
  display: flex;
  height: 60px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
  position: fixed;
  z-index: 9;
  background: #FFFFFF;
  padding: 54px calc(50% - 640px + 40px);
}

.logo {
  width: 186px;
  height: 60px;
  padding: 1px 0;
}
.logo .logo__title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 8px;
  letter-spacing: 0.06em;
  color: #545454;
}
.logo .logo__description {
  display: block;
  margin-left: 3px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #292929;
}

.navigation__list {
  display: flex;
  align-content: center;
  padding-top: 8px;
  margin-right: 3px;
}

.navigation__item {
  display: block;
  margin-right: 35px;
}
.navigation__item:last-child {
  margin-right: 0;
}

.nav__link {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #545454;
  padding-bottom: 4px;
}
.nav__link:hover {
  color: #292929;
}

.navigation__item_active {
  color: #292929;
  border-bottom: 3px solid #F1CDB3;
}

.friends {
  background: #F6F6F6;
}

.friends__container {
  padding-top: 200px;
  padding-bottom: 100px;
}

.friends__title {
  display: block;
  width: 400px;
  margin: auto;
  text-align: center;
}

.friends__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 45px -20px;
}

.btn__left, .btn__right {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  background: transparent;
  padding-top: 12px;
  display: inline-block;
}

.btn__left {
  margin-right: 8px;
}

.btn__right {
  margin-left: 8px;
}

.friends__card {
  display: flex;
  background: #FAFAFA;
  margin: 15px 20px;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 9px 9px 0px 0px;
  flex-direction: column;
}
.friends__card:hover {
  cursor: pointer;
  background: rgba(13, 13, 13, 0.0392156863);
}
.friends__card:hover > .card__btn {
  background: #F1CDB3;
  border-color: #F1CDB3;
}
.friends__card:hover > .card__btn:hover {
  background: #FDDCC4;
  border-color: #FDDCC4;
}

.card__img {
  margin-bottom: 30px;
}

.card__title {
  margin: 0 auto 30px auto;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.card__btn {
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  background: transparent;
  margin: 0 41.5px 30px 41.5px;
  align-self: center;
}

.friends__btn {
  display: block;
  padding: 15px 35px;
  width: 261px;
  height: 52px;
  background: #F1CDB3;
  border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination__arrow {
  border: 2px solid #CDCDCD;
  box-sizing: border-box;
  border-radius: 100px;
}
.pagination__arrow.active {
  border-color: #F1CDB3;
}
.pagination__arrow.active svg path {
  fill: #292929;
}
.pagination__arrow.active:hover {
  background: #F1CDB3;
  transition: all 0.1s;
}
.pagination__arrow.disabled {
  cursor: auto;
}

.pagination__arrow, .pagination__number {
  display: flex;
  width: 52px;
  height: 52px;
  margin: 0 10px 0 10px;
  align-items: center;
  justify-content: center;
}

.pagination__number {
  background: #F1CDB3;
  border-radius: 100px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #292929;
}

.footer {
  background: radial-gradient(110.67% 538.64% at 5.73% 50%, rgba(81, 61, 47, 0.3) 0%, rgba(26, 26, 28, 0.3) 100%), url(/steglaset-JSFE2022Q1/shelter/assets/images/footer-gradient-background.png) no-repeat;
  background-size: cover;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__left-col, .footer__center-col {
  margin-top: -4px;
  display: flex;
  flex-direction: column;
  align-self: center;
  height: 232px;
  justify-content: space-between;
}

.footer__left-col {
  width: 298px;
}

.footer__center-col {
  width: 302px;
  margin-left: -19px;
}

.footer__title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.footer__item {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
}

.footer__icon {
  margin-right: 20px;
}

.footer-item__text {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  vertical-align: middle;
}

.footer-item__text {
  padding-top: 5px;
}

div.footer-item__text {
  padding-top: 22px !important;
}

.footer__right-col {
  margin-top: 40px;
}/*# sourceMappingURL=style.css.map */
