$font-logo-color: #F1CDB3;
$font-not-active-color: #CDCDCD;
$font-active-color: #FAFAFA;
$font-color-1: #FFFFFF;
$font-title-color: #545454;
$outline-color: #F1CDB3;

@font-face {
    font-family: "Arial"; 
    src: url("./../../assets/fonts/ArialMT.woff") format("truetype"); 
    font-style: normal; 
    font-weight: 400; 
} 

@font-face {
    font-family: "Georgia"; 
    src: url("./../../assets/fonts/Georgia.woff") format("truetype"); 
    font-style: normal; 
    font-weight: 400; 
} 

* {
    border: none;
}

html {
    font-size: 10px;
}

body {
    padding-right: 0px;
}

.container {
    width: 1200px;
    margin: auto;
}

@media (max-width: 1315px) {
    .container {
        width: 92.1875%;
    }
}

@media (max-width: 1315px) {
    .container {
        width: 92.1875%;
    }
}

@media (max-width: 768px) {
    .container {
        width: 93.75%;
    }
}

li {
    list-style-type: none;
}

button {
    cursor: pointer;
}

.title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: $font-title-color;
}

//Header
.header {
    height: 120px;
    width: 100%;
    position: fixed;
    z-index: 9;
    background: #FFFFFF;
}

.header__container {
    display: flex;
    height: 100%;
    justify-content:space-between;
    align-items:center;
}

.logo {
    width: 186px;
    height: 60px;
    margin-bottom: -6px;
    .logo__title {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 11px;
        letter-spacing: 0.06em;
        color: #545454;
    }
    .logo__description {
        display: block;
        margin-left: 3px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.1em;
        color: #292929;
    }
}

.navigation__list {
    display: flex;
    align-content: center;
    margin-right: 3px;
}

.navigation__item {  
    display: block;
    margin-right: 35px;
    &:last-child {
        margin-right: 0;
    } 
}

.nav__link {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #545454;
    padding-bottom: 4px;
    &:hover {
       color: #292929;
    }
}

.navigation__item_active {
    color: #292929;
    border-bottom: 3px solid $outline-color;
}

.hamburger-menu {
    display: none;
}

@media (max-width: 768px) {
    .navigation__list {
        display: none;
        &_burger {
            display: flex;
            height: calc(100% - 105.44px);
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    .hamburger-menu {
        display: block;
    }

    #menu__toggle {
        opacity: 0;
    }

    .menu__btn {
        position: absolute;
        width: 30px;
        height: 22px;
        right: 53px;
        top: 45px;
        cursor: pointer;
        z-index: 3;
    }

    .menu__icon {
        transform: rotate(-90deg);
    }

    .menu__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        visibility: hidden;
        opacity: 0;
        top: 0;
        right: -320px;
        width: 320px;
        height: 100%;
        margin: 0;
        padding: 23px 0;
        z-index: 0;
        background: #FFFFFF;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    }

    .menu__header {
        display: flex;
        width: 300px;
        justify-content: space-between;
        align-items: center;
        opacity: 0;
        transform: translate(0px, -100%);
    }

    .menu__item {
        display: block;
        padding: 12px 24px;
    }

    .menu__icon {
        position: relative;
    }

    .navigation__item_burger {
        margin: 0 0 40px;
    }

    .navigation__item_burger a {
        font-size: 32px;
        line-height: 160%;
    }

    .navigation__item_active a {
        color: #292929;
    }

    .dark__area {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(41, 41, 41, 0.6);
        opacity: 0;
        z-index: 2;
    }

    .menu__header {
        transition-duration: .35s;
        transition-delay: 0;
    }

    .menu__icon {
        transition-duration: .25s;
    }

    .menu__box {
        z-index: 2;
        transition-duration: .65s;
    }

    .menu__item {
        transition-duration: .25s;
    }

    .dark__area {
        transition-duration: .25s;
    }

    #menu__toggle:checked {
        &~.dark__area {
            opacity: 1;
            height: 100vh;
            width: 100vw;        
        }

        &~.menu__box {
            visibility: visible;
            opacity: 1;
            right: 0;
        }

        &~.menu__box .menu__header {
            opacity: 1;
            transform: translate(0px, 0px);
            transition-delay: .35s;
        }

        &~.menu__btn {
            &>span>.menu__icon {
                transform: rotate(0deg);
            }

            &.menu__btn {
                position: fixed;
            }
        }
        
    }
}

//Friends
.friends {
    background: #F6F6F6;
}

.friends__container {
    padding-top: 200px;
    padding-bottom: 100px;
}

.friends__title {
    display: block;
    max-width: 400px;
    margin: auto;
    text-align: center;
}

.friends__list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 45px -20px;
}

.btn__left, .btn__right {
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    background: transparent;
    padding-top: 12px;
    display: inline-block;
}

.btn__left {
    margin-right: 8px;
}

.btn__right {
    margin-left: 8px;
}

.friends__card {
    display: flex;
    background: #FAFAFA;
    margin: 15px 20px;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 9px 9px 0px 0px;
    flex-direction: column;
    &:hover {
        cursor: pointer;
        background: #0D0D0D0A;
        & > .card__btn {
            background: #F1CDB3;
            border-color: #F1CDB3;
            &:hover {
                background: #FDDCC4;
                border-color: #FDDCC4;;
            }
        }
    }
}

.card__img {
    margin-bottom: 30px;
}

.card__title {
    margin: 0 auto 30px auto;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;

}

.card__btn {
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    background: transparent;
    margin: 0 41.5px 30px 41.5px;
    align-self: center;
}

.friends__btn {
    display: block;
    padding: 15px 35px;
    width: 261px;
    height: 52px;
    background: #F1CDB3;
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination__arrow {
    border: 2px solid #CDCDCD;
    box-sizing: border-box;
    border-radius: 100px;
    cursor: auto;
    &.active {
        border-color: #F1CDB3;
        cursor: pointer;
        & svg path {
            fill: #292929;
        }
        &:hover {
            background: #F1CDB3;
            transition: all 0.1s;
        }
    }
}

.pagination__arrow, .pagination__number {
    display: flex;
    width: 52px;
    height: 52px;
    margin: 0 10px;
    align-items:center;
    justify-content: center;
}

.pagination__number {
    background: #F1CDB3;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #292929;
    cursor: pointer;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(41, 41, 41, 0.6);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all .5s ease;
    &:target {
        opacity: 1;
        visibility: visible;
        & .popup__content {
            transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
            opacity: 1;
        }
    }
}

.popup__area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    &:hover~.popup__body .popup__content .popup__close {
        background: #FDDCC4;
    }
}

.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.popup__content {
    display: flex;
    width: 900px;
    min-height: 500px;
    background: #FAFAFA;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    position: relative;
    border-radius: 22px;
    transition: all .5s ease;
    opacity: 0;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popup__close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 890px;
    top: -52px;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    &:hover {
        background: #FDDCC4;
    }
}

.popup__icon {
    width: 12px;
    height: 12px;
}

.popup__img {
    height: 500px;
    width: 500px;
    border-radius: 22px;
}

.popup__text {
    font-family: 'Georgia';
    width: 351px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 29px;
    color: #000000;
    letter-spacing: 0.06em;
    
}

.popup__title {
    font-size: 35px;
    line-height: 130%;
    margin-bottom: 10px;
}

.popup__subtitle {
    font-size: 20px;
    line-height: 115%;
    margin-bottom: 40px;
}

.popup__description {
    font-size: 15px;
    line-height: 110%;
    margin-bottom: 40px;
}

.popup__item {
    font-size: 15px;
    line-height: 110%;
    font-weight: bold;
    margin-bottom: 12px;
    letter-spacing: 0.1em;
    &::before {
        display: inline-block;
        content: "";
        width: 4px;
        height: 4px;
        background-color: #F1CDB3;
        border-radius: 2px;
        margin: 4px 10px 4px 0;
    }
}

.text_regular {
    font-weight: 400;
}

@media (max-width: 1315px) {
    .popup__link {
        &:nth-child(n + 7) .friends__card {
            display: none;
        }
    }
}

@media (max-width: 982px) {
    .friends__container {
        padding-bottom: 76px;
    }

    .friends__list{
        margin: 15px -20px 25px;
    }

    .popup__content {
        width: 630px;
        min-height: 350px;
    }

    .popup__close {
        left: 621px;
    }
    
    .popup__img {
        height: 350px;
        width: 350px;
    }
    
    .popup__text {
        width: 260px;
        margin: 10px;    
    }
    
    .popup__subtitle {
        margin-bottom: 20px;
    }
    
    .popup__description {
        font-size: 13px;
        margin-bottom: 20px;
    }
    
    .popup__item {
        margin-bottom: 5px;
    }
}

@media (max-width: 618px) {
    .friends__container {
        padding-top: 162px;
        padding-bottom: 42px;
    }

    .friends__title {
        font-size: 25px;
    }

    .friends__list{
        margin: 26px 0 26px;
    }

    .popup__link {
        &:nth-child(n + 4) .friends__card {
            display: none;
        }
    }

    .popup__content {
        width: 240px;
        min-height: 341px;
    }
    
    .popup__close {
        left: 218px;
    }

    .popup__img {
        display: none;
    }
    
    .popup__text {
        width: 351px;
        margin: 10px    
    }
    
    .popup__title,
    .popup__subtitle {
        text-align: center;
    }
    
    .popup__description {
        margin-bottom: 24px;
    }

    .pagination {
        margin: 0 -10px;
    }

    .pagination__arrow, .pagination__number {
        margin: 0 5px;
    }


}

//Footer
.footer {
    background: radial-gradient(110.67% 538.64% at 5.73% 50%, rgba(81, 61, 47, 0.3) 0%, rgba(26, 26, 28, 0.3) 100%), url(./../../assets/images/footer-gradient-background.webp) no-repeat;
    background-size: cover;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__left-col,
.footer__center-col {
    margin-top: -4px;
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 232px;
    justify-content: space-between;
    margin-right: 90px;
}

.footer__left-col {
    width: 298px;
}

.footer__center-col {
    width: 302px;
    margin-left: -19px;
}

.footer__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.footer__item {
    display: flex;
    flex-wrap: nowrap;
    align-content: center
}

.footer__icon {
    margin-right: 20px;
}

.footer-item__text {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    vertical-align: middle;
    padding-top: 5px;
}

div.footer-item__text {
    padding-top: 22px;
}

.footer__right-col {
    margin-top: 40px;
}

@media (max-width: 1169px) {
    .footer__container {
        justify-content: center;
    }

    .footer__left-col {
        margin-top: 31px;
        margin-left: 0;
        margin-right: 40px;
    }

    .footer__center-col {
        margin-top: 31px;
        margin-right: 0;
        margin-left: 0;
    }

    .footer__right-col {
        margin-top: 65px;
    }
}

@media (max-width: 515px) {
    .footer__container {
        padding-top: 30px;
        flex-direction: column;
    }

    .footer__title {
        width: 278px;
        margin: 0 auto 40px;
        text-align: center;
        font-size: 2.5rem;
        line-height: 130%;
        letter-spacing: 0.06em;
    }

    .footer__left-col,
    .footer__center-col,
    .footer__right-col {
        margin: 0;
        width: 100%;
        height: auto;  
    }

    .footer__left-col {
        align-items: center;
    }

    .footer__item {
        margin-bottom: 40px;
    }

    .footer__img {
        display: block;
        width: 260px;
        height: 269px;
        margin: auto;
    }
}