@font-face {
  font-family: "Arial";
  src: url("./../../assets/fonts/ArialMT.woff") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Georgia";
  src: url("./../../assets/fonts/Georgia.woff") format("truetype");
  font-style: normal;
  font-weight: 400;
}
* {
  border: none;
}

html {
  font-size: 10px;
}

body {
  padding-right: 0px;
  overflow-x: hidden;
}

.container {
  width: 1200px;
  margin: auto;
}

@media (max-width: 1315px) {
  .container {
    width: 92.1875%;
  }
}
@media (max-width: 1315px) {
  .container {
    width: 92.1875%;
  }
}
@media (max-width: 768px) {
  .container {
    width: 93.75%;
  }
}
li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

.title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.start-screen__container {
  background: radial-gradient(100% 215.42% at 0% 0%, rgba(91, 72, 58, 0.3) 0%, rgba(29, 27, 27, 0.3) 100%), url(./../../assets/images/start-screen-gradient-background.webp);
  border: 1px solid #000000;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__container {
  display: flex;
  height: 60px;
  padding: 54px 0;
  justify-content: space-between;
  align-items: center;
}

#invinsible__link {
  position: fixed;
}

.logo {
  width: 186px;
}
.logo .logo__title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 13px;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}
.logo .logo__description {
  display: block;
  margin-left: 3px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.navigation__list {
  display: flex;
  align-content: center;
  padding-top: 8px;
  margin-right: 3px;
}

.navigation__item {
  margin-right: 35px;
}
.navigation__item:last-child {
  margin-right: 0;
}

.nav__link {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #CDCDCD;
}
.nav__link:hover {
  color: #FAFAFA;
}
.navigation__item_active .nav__link {
  color: #FAFAFA;
}

.navigation__item_active {
  border-bottom: 3px solid #F1CDB3;
}

.hamburger-menu {
  display: none;
}

@media (max-width: 768px) {
  .navigation__list {
    display: none;
  }
  .navigation__list_burger {
    display: flex;
    height: calc(100% - 105.44px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hamburger-menu {
    display: block;
  }

  #menu__toggle {
    opacity: 0;
  }

  .menu__btn {
    position: absolute;
    width: 30px;
    height: 22px;
    right: 53px;
    top: 44px;
    cursor: pointer;
    z-index: 3;
  }

  .menu__icon {
    transform: rotate(-90deg);
  }

  .menu__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    top: 0;
    right: -320px;
    width: 320px;
    height: 100%;
    margin: 0;
    padding: 23px 0;
    z-index: 0;
    background: #292929;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  }

  .menu__header {
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    transform: translate(0px, -100%);
  }

  .menu__item {
    display: block;
    padding: 12px 24px;
  }

  .menu__icon {
    position: relative;
  }

  .navigation__item_burger {
    margin: 0 0 40px;
  }

  .navigation__item_burger a {
    font-size: 32px;
    line-height: 160%;
  }

  .navigation__item_active a {
    color: #292929;
  }

  .dark__area {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(41, 41, 41, 0.6);
    opacity: 0;
    z-index: 2;
  }

  .menu__header {
    transition-duration: 0.35s;
    transition-delay: 0;
  }

  .menu__icon {
    transition-duration: 0.25s;
  }

  .menu__box {
    z-index: 2;
    transition-duration: 0.65s;
  }

  .menu__item {
    transition-duration: 0.25s;
  }

  .dark__area {
    transition-duration: 0.25s;
  }

  #menu__toggle:checked ~ .dark__area {
    opacity: 1;
    height: 100%;
    width: 100%;
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    opacity: 1;
    right: 0;
  }
  #menu__toggle:checked ~ .menu__box .menu__header {
    opacity: 1;
    transform: translate(0px, 0px);
    transition-delay: 0.35s;
  }
  #menu__toggle:checked ~ .menu__btn > span > .menu__icon {
    transform: rotate(0deg);
  }
  #menu__toggle:checked ~ .menu__btn.menu__btn {
    position: fixed;
  }
}
.house__container {
  display: flex;
  justify-content: space-between;
}

.house__left {
  width: 460px;
  margin-bottom: 36px;
  align-self: center;
}

.house__title {
  display: block;
  width: 310px;
  padding-bottom: 42px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 57px;
  color: #FFFFFF;
  letter-spacing: 0.001em;
}

.house__description {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #CDCDCD;
}

.house__btn {
  display: block;
  width: 207px;
  height: 52px;
  margin-top: 42px;
  box-sizing: border-box;
  background: #F1CDB3;
  border-radius: 100px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.059em;
  padding: 15px 45px;
  color: #292929;
}
.house__btn:hover {
  background: #f8ddca;
  transition: all 0.3s;
}

.house__img {
  margin-top: 42px;
  width: 698px;
  height: 728px;
}

@media (max-width: 1280px) {
  .house__img {
    width: 54.5885416667vw;
    height: auto;
  }

  .house__left {
    margin-right: 50px;
  }
}
@media (max-width: 975px) {
  .house__container {
    flex-direction: column;
    align-items: center;
  }

  .house__left {
    margin-top: 43px;
    margin-bottom: 56px;
    margin-right: 0;
  }

  .house__btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 42px;
  }

  .house__right {
    align-self: flex-end;
  }

  .house__img {
    width: 71.9885416667vw;
    height: auto;
  }
}
@media (max-width: 515px) {
  .house__title,
.house__description {
    width: 100%;
    text-align: center;
  }

  .house__title {
    width: 260px;
    margin: auto;
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.06em;
  }

  .house__left {
    width: 100%;
    margin-top: 41px;
    margin-bottom: 61px;
  }

  .house__img {
    width: 81.9885416667vw;
  }
}
.about__container {
  display: flex;
  justify-content: center;
  padding: 0 10px;
}

.about__img {
  margin: 79px 120px 100px 0;
}

.about__right {
  width: 430px;
  margin-top: 94px;
  margin-bottom: 114px;
}

.about__title {
  display: block;
  width: 370px;
  margin-bottom: 24px;
}

.about__description {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
  margin-bottom: 24px;
}
.about__description:last-child {
  margin-bottom: 0;
}

@media (max-width: 1280px) {
  .about__img {
    margin: 79px 9.375vw 100px 0;
  }
}
@media (max-width: 975px) {
  .about__container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .about__img {
    margin: 0;
    margin-bottom: 100px;
  }

  .about__right {
    margin-bottom: 80px;
    margin-top: 82px;
  }
}
@media (max-width: 515px) {
  .about__title {
    width: 260px;
    margin: 0 auto 24px;
    text-align: center;
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.06em;
  }

  .about__description {
    width: 100%;
    text-align: justify;
    padding: 0 5px;
  }

  .about__right {
    width: 100%;
    margin-top: 41px;
    margin-bottom: 39px;
  }

  .about__img {
    width: 80.9885416667vw;
    margin-bottom: 42.4px;
  }
}
.friends {
  background: #F6F6F6;
}

.friends__container {
  padding-top: 80px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friends__title {
  display: block;
  width: 400px;
  margin: auto;
  text-align: center;
}

.cards__wrapper {
  display: flex;
  align-items: center;
}

.friends__list {
  display: flex;
  margin: auto;
  overflow: hidden;
}

.btn__left,
.btn__right {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  background: transparent;
  padding-top: 12px;
  display: inline-block;
}
.btn__left:hover,
.btn__right:hover {
  background: #F1CDB3;
  transition: all 0.1s;
}

.btn__left {
  margin-right: 8px;
}

.btn__right {
  margin-left: 8px;
}

.friends__cards {
  display: flex;
  position: relative;
  width: 1080px;
  right: 1080px;
}

@-webkit-keyframes move-right {
  from {
    right: 1080px;
  }
  to {
    right: 2160px;
  }
}

@keyframes move-right {
  from {
    right: 1080px;
  }
  to {
    right: 2160px;
  }
}
.transition-right {
  -webkit-animation-name: move-right;
          animation-name: move-right;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes move-left {
  from {
    right: 1080px;
  }
  to {
    right: 0;
  }
}

@keyframes move-left {
  from {
    right: 1080px;
  }
  to {
    right: 0;
  }
}
.transition-left {
  -webkit-animation-name: move-left;
          animation-name: move-left;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.friends__card {
  display: flex;
  background: #FAFAFA;
  margin: 60px 45px;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 9px 9px 0px 0px;
  flex-direction: column;
}
.friends__card:hover {
  cursor: pointer;
  background: rgba(13, 13, 13, 0.0392156863);
}
.friends__card:hover > .card__btn {
  background: #F1CDB3;
  border-color: #F1CDB3;
}
.friends__card:hover > .card__btn:hover {
  background: #FDDCC4;
  border-color: #FDDCC4;
}

.card__img {
  margin-bottom: 30px;
}

.card__title {
  margin: 0 auto 30px auto;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.card__btn {
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  background: transparent;
  margin: 0 41.5px 30px 41.5px;
  align-self: center;
}

.friends__btn {
  display: block;
  padding: 16px 44px;
  width: 261px;
  height: 52px;
  background: #F1CDB3;
  border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}
.friends__btn:hover {
  background: #FDDCC4;
  transition: all 0.1s;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(41, 41, 41, 0.6);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.5s ease;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__content {
  transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
  opacity: 1;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup__area:hover ~ .popup__body .popup__content .popup__close {
  background: #FDDCC4;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.popup__content {
  display: flex;
  width: 900px;
  min-height: 500px;
  background: #FAFAFA;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  position: relative;
  border-radius: 22px;
  transition: all 0.5s ease;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popup__close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 890px;
  top: -52px;
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
}
.popup__close:hover {
  background: #FDDCC4;
}

.popup__icon {
  width: 12px;
  height: 12px;
}

.popup__img {
  height: 500px;
  width: 500px;
  border-radius: 22px;
}

.popup__text {
  font-family: "Georgia";
  width: 351px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 29px;
  color: #000000;
  letter-spacing: 0.06em;
}

.popup__title {
  font-size: 35px;
  line-height: 130%;
  margin-bottom: 10px;
}

.popup__subtitle {
  font-size: 20px;
  line-height: 115%;
  margin-bottom: 40px;
}

.popup__description {
  font-size: 15px;
  line-height: 110%;
  margin-bottom: 40px;
}

.popup__item {
  font-size: 15px;
  line-height: 110%;
  font-weight: bold;
  margin-bottom: 12px;
  letter-spacing: 0.1em;
}
.popup__item::before {
  display: inline-block;
  content: "";
  width: 4px;
  height: 4px;
  background-color: #F1CDB3;
  border-radius: 2px;
  margin: 4px 10px 4px 0;
}

.text_regular {
  font-weight: 400;
}

@media (max-width: 1280px) {
  .friends__card {
    margin: 60px 0;
  }

  .popup__link:nth-child(n+1) .friends__card {
    margin-right: 40.937px;
  }

  .btn__left {
    margin-right: 2px;
  }

  .btn__right {
    margin-left: 2px;
  }

  .friends__cards {
    width: 600px;
    padding: 0 10px;
    right: 620px;
  }

  @-webkit-keyframes move-right {
    from {
      right: 620px;
    }
    to {
      right: 1242px;
    }
  }

  @keyframes move-right {
    from {
      right: 620px;
    }
    to {
      right: 1242px;
    }
  }
  @-webkit-keyframes move-left {
    from {
      right: 620px;
    }
    to {
      right: -2px;
    }
  }
  @keyframes move-left {
    from {
      right: 620px;
    }
    to {
      right: -2px;
    }
  }
}
@media (max-width: 975px) {
  .friends__card {
    margin: 60px 0;
  }

  .popup__link:nth-last-child(-n+3) .friends__card {
    margin-right: 0;
  }

  .popup__content {
    width: 630px;
    min-height: 350px;
  }

  .popup__close {
    left: 621px;
  }

  .popup__img {
    height: 350px;
    width: 350px;
  }

  .popup__text {
    width: 260px;
    margin: 10px;
  }

  .popup__subtitle {
    margin-bottom: 20px;
  }

  .popup__description {
    font-size: 13px;
    margin-bottom: 20px;
  }

  .popup__item {
    margin-bottom: 5px;
  }
}
@media (max-width: 767px) {
  .friends__container {
    padding: 42px 0;
    width: 300px;
  }

  .friends__title {
    width: 300px;
    margin: 0 auto 42px;
    text-align: center;
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.06em;
  }

  .cards__wrapper {
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
  }

  .friends__list {
    justify-items: center;
  }

  .friends__cards {
    width: 310px;
    padding: 0;
    right: 316px;
  }

  @-webkit-keyframes move-right {
    from {
      right: 316px;
    }
    to {
      right: 618px;
    }
  }

  @keyframes move-right {
    from {
      right: 316px;
    }
    to {
      right: 618px;
    }
  }
  @-webkit-keyframes move-left {
    from {
      right: 313px;
    }
    to {
      right: 13px;
    }
  }
  @keyframes move-left {
    from {
      right: 313px;
    }
    to {
      right: 13px;
    }
  }
  .popup__link:nth-child(n+1) .friends__card {
    margin-right: auto;
  }

  .friends__card {
    margin: 0 33px 20px;
    justify-self: center;
    order: 1;
  }

  .popup__link:nth-last-child(-n+3) .friends__card {
    display: none;
  }

  .popup__content {
    width: 240px;
    min-height: 341px;
  }

  .popup__close {
    left: 218px;
  }

  .popup__img {
    display: none;
  }

  .popup__text {
    width: 351px;
    margin: 10px;
  }

  .popup__title,
.popup__subtitle {
    text-align: center;
  }

  .popup__description {
    margin-bottom: 24px;
  }

  .btn__right,
.btn__left {
    order: 2;
    margin-bottom: 42px;
  }

  .btn__right {
    margin-left: 40px;
  }

  .btn__left {
    margin-right: 40px;
  }
}
.help__container {
  padding: 80px 0 43px 0;
}

.help__title {
  display: block;
  width: 328px;
  margin: auto;
  margin-bottom: 60px;
  text-align: center;
}

.help__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.help-item {
  margin: 0 60px 55px;
}

.item__wrapper {
  display: flex;
  flex-direction: column;
}

.help-item__icon {
  width: 60px;
  height: 60px;
  margin: 0 auto 30px auto;
}

.help-item__description {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin: auto;
}

@media (max-width: 1280px) {
  .item__wrapper {
    width: 170px;
  }

  .help__list {
    margin: 0 -30px;
  }

  .help-item {
    margin: 0 30px 55px;
  }
}
@media (max-width: 671px) {
  .help__container {
    padding: 42px 0 12px;
    width: 300px;
  }

  .help__title {
    width: 250px;
    margin: 0 auto 42px;
    text-align: center;
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.06em;
  }

  .help__list {
    justify-content: space-between;
    margin: 0;
    padding: 0 5px;
  }

  .item__wrapper {
    width: 130px;
  }

  .help-item {
    margin: 0 0 29.5px;
  }
  .help-item:nth-child(-n+2) {
    justify-self: flex-end;
  }

  .help-item__icon {
    width: 50px;
    height: 50px;
    margin: 0 auto 20px auto;
  }

  .help-item__description {
    font-size: 15px;
  }
}
.donation {
  background: #F6F6F6;
}

.donation__container {
  display: flex;
  padding: 80px 0 100px 0;
  justify-content: center;
}

.donation__left {
  margin-right: 30px;
  margin-top: 10px;
}

.donation__right {
  width: 380px;
}

.donation__title {
  display: block;
  width: 300px;
  margin-bottom: 20px;
}

.donation__bank-subtitle {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  display: block;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 18px;
}

.donation-bank-data {
  display: flex;
  width: 350px;
  background: #F1CDB3;
  border-radius: 9px;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.donation-bank-data__icon {
  margin-right: 15px;
}

.donation-bank-data__number {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

.donation__bank-description {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #B2B2B2;
}

@media (max-width: 985px) {
  .donation__container {
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 100px;
  }

  .donation__right {
    margin-bottom: 50px;
  }

  .donation__left {
    margin-right: 0px;
  }
}
@media (max-width: 515px) {
  .donation__container {
    padding: 42px 0 41.8px;
    width: 300px;
  }

  .donation__title {
    width: 210px;
    margin: 0 auto 23px;
    text-align: center;
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.06em;
  }

  .donation__right {
    width: 100%;
  }

  .donation__bank-subtitle {
    font-size: 15px;
    letter-spacing: 0.0001em;
    text-align: center;
    margin-bottom: 24px;
  }

  .donation__bank-description {
    text-align: justify;
  }

  .donation-bank-data {
    width: 281px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
  }

  .donation-bank-data__icon {
    margin-left: -2px;
  }

  .donation-bank-data__number {
    font-size: 15px;
  }

  .donation__bank-description {
    width: 280px;
    margin: auto;
  }

  .donation__img {
    width: 260px;
  }

  .donation__right {
    margin-bottom: 42px;
  }

  .donation__left {
    margin-top: 0;
  }
}
.footer {
  background: radial-gradient(110.67% 538.64% at 5.73% 50%, rgba(81, 61, 47, 0.3) 0%, rgba(26, 26, 28, 0.3) 100%), url(./../../assets/images/footer-gradient-background.webp) no-repeat;
  background-size: cover;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__left-col,
.footer__center-col {
  margin-top: -4px;
  display: flex;
  flex-direction: column;
  align-self: center;
  height: 232px;
  justify-content: space-between;
  margin-right: 90px;
}

.footer__left-col {
  width: 298px;
}

.footer__center-col {
  width: 302px;
  margin-left: -19px;
}

.footer__title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.footer__item {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
}

.footer__icon {
  margin-right: 20px;
}

.footer-item__text {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  vertical-align: middle;
  padding-top: 5px;
}

div.footer-item__text {
  padding-top: 22px;
}

.footer__right-col {
  margin-top: 40px;
}

@media (max-width: 1169px) {
  .footer__container {
    justify-content: center;
  }

  .footer__left-col {
    margin-top: 31px;
    margin-left: 0;
    margin-right: 40px;
  }

  .footer__center-col {
    margin-top: 31px;
    margin-right: 0;
    margin-left: 0;
  }

  .footer__right-col {
    margin-top: 65px;
  }
}
@media (max-width: 515px) {
  .footer__container {
    padding-top: 30px;
    flex-direction: column;
  }

  .footer__title {
    width: 278px;
    margin: 0 auto 40px;
    text-align: center;
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.06em;
  }

  .footer__left-col,
.footer__center-col,
.footer__right-col {
    margin: 0;
    width: 100%;
    height: auto;
  }

  .footer__left-col {
    align-items: center;
  }

  .footer__item {
    margin-bottom: 40px;
  }

  .footer__img {
    display: block;
    width: 260px;
    height: 269px;
    margin: auto;
  }
}/*# sourceMappingURL=style.css.map */